<p id="notice"><%= notice %></p>

<td><%= link_to 'Edit', edit_feature_path(@feature) %></td>
<td><%= button_to 'Destroy', feature_path(@feature), method: :delete, data: { confirm: 'Are you sure?' } %></td>

<p>
  <strong>Key:</strong>
  <%= @feature.key %>
</p>

<p>
  <strong>Description:</strong>
  <%= @feature.description %>
</p>

<p>
  <strong>State:</strong>
  <%= @feature.state %>
</p>


<p>
  <strong>Created:</strong>
  <%= @feature.created_at.to_formatted_s(:long) %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @feature.updated_at.to_formatted_s(:long) %>
</p>


<h3>Opt In Entities</h3>
<%= render @feature.feature_opt_ins %>
<%= render "lightning/feature_opt_ins/form" %>
<br/>

<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>
