<%= render partial: "header", locals: { show_new_feature_button: false } %>

<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="d-grid align-items-center gap-1 d-md-block border-bottom pb-2 mb-4">
    <%= link_to 'Back', features_path, class: 'btn btn-light btn-sm' %>
    <span class="text-light px-2">|</span>
    <%= link_to 'Edit', edit_feature_path(@feature), class: "btn btn-light btn-sm" %>
    <div class="btn-group">
      <button type="button" class="btn btn-light btn-sm dropdown-toggle ms-2" data-bs-toggle="dropdown" aria-expanded="false">
        More
      </button>
      <ul class="dropdown-menu">
        <li>
          <%= button_to 'Destroy', feature_path(@feature), class: "dropdown-item", method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
      </ul>
    </div>
  </div>

  <h1 class="fw-monospace fw-bold">
    <%= @feature.key %>
  </h1>
  <div class="d-flex align-items-center">
    <div class="fs-5">
      <% if @feature.enabled_per_entity? %>
        <span class="badge bg-primary">Enabled per entity</span>
      <% elsif @feature.enabled_globally? %>
        <span class="badge bg-success">Enabled globally</span>
      <% else %>
        <span class="badge bg-secondary">Off</span>
      <% end %>
    </div>
    <div class="text-muted ms-2">
      <%= @feature.description %>
    </div>
    <% if @feature.description.present? %>
      <div class="text-muted ms-2">—</div>
    <% end %>
    <div class="text-muted ms-2">
      <%= @feature.created_at.to_formatted_s(:short) %>
    </div>
  </div>

  <div class="mt-5">
    <h3>Opt Ins</h3>
    <table class="table table-sm">
      <% @feature.feature_opt_ins.each do |feature_opt_in| %>
        <tbody>
          <tr>
            <td><code><%= feature_opt_in.entity.class %></code><td>
            <td><%= feature_opt_in.entity.lightning_display %></td>
            <td><%= button_to 'Remove', [feature_opt_in.feature, feature_opt_in], class: "btn btn-light btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        </tbody>
      <% end %>
    </table>

    <%= form_with model: [@feature, @feature.feature_opt_ins.build] do |form| %>
      <div class="d-flex align-items-start gap-1">
        <div>
          <%= form.label :entity_type, 'Select Entity Type' %><br>
          <%= form.select :entity_type, options_for_select(@flaggable_entities.map { |u| [ u.to_s, u.to_s] }) %>
        </div>
        <div>
          <%= form.label :entity_id, 'Entity Id' %><br>
          <%= form.text_field :entity_id %>
        </div>
        <%= form.submit 'Add entity to feature' %>
      </div>
    <% end %>

  </div>
</div>