<h3>Permission Entities</h3>
<%= form_with model: [@feature, @feature.feature_opt_ins.build] do |form| %>
  <p>
    <%= form.label :entity_type, 'Select Entity Type' %><br>
    <%= form.select :entity_type, options_for_select(@flaggable_entities.map {|u| [ u.to_s, u.to_s] }) %>
  </p>
  <p>
    <%= form.label :entity_id, 'Entity Id' %><br>
    <%= form.text_field :entity_id %>
  </p>
  <%= form.submit 'Add entity to feature' %>
<% end %>